
.techall {
    padding-top: 150px;
    background-image: url("../assets/technology/background-technology-desktop.jpg");
    width: 98.8vw;
    height: 100vh;
    background-size: cover;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    background-attachment: fixed;
}
.text {
    margin-left: 100px;
    color: white;
    width: 400px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    letter-spacing: 4.5px;

}
.sp span {
    font-size: 25px;
    opacity: 0.25;;
    display: inline-block;
}
